.App {
  background: #9ab7b8;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  color: #303232;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}


