.SearchEngine {
    background: #d9e4e7;
    padding: 10px 20px;
    border: 1px solid #ebebf1;
    border-radius: 10px;
    margin: 10px 0;
  }
  
  .SearchEngine .search-input {
    display: inline;
    overflow: hidden;
  }
  
  .SearchEngine .btn-secondary {
    font-size: 14px;
    padding: 1px 6px;
    border: 0.5px solid #919ca4;
    background-color: rgb(239, 239, 239);
    color: #303232;
    border-radius: 5px;
  }
  
  .SearchEngine input {
    border: 0.5px solid #919ca4;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .SearchEngine ::placeholder {
    color: #919ca4;
    font-style: italic;
    font-size: 14px;
  }

  