.Weather {
    background: #d9e4e7;
    padding: 10px 20px;
    border: 1px solid #ebebf1;
    border-radius: 10px;
    margin: 10px 0 0 0;
  }
  
.Weather h1 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
  }
  
.Weather h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
  }

.Weather h2 .current-date {
    font-size: 14px;
}
  
.Weather hr {
    color: #919ca4;
    margin: 10px 0;
  }
  
.Weather .row {
    margin-top: 30px;
    margin-bottom: 0px;
    max-height: 80px;
}

.Weather .row img {
    position: relative;
    top: -26px;
}
    
.Weather .current-temp {
    font-size: 56px;
    font-weight: bold;
    line-height: 1;
}
    
.Weather .measure-unit {
    font-size: 20px;
    vertical-align: top;
}
    
.Weather .measure-unit a {
    color: #303232;
    text-decoration: none;
}
    
.Weather .measure-unit a:hover {
    color: #919ca4;
    cursor: pointer;
}
    
.Weather .fas {
    font-size: 50px;
}
    
.Weather .weather-parameters li {
    margin: 0;
    line-height: 1.2;
    font-size: 16px;
    list-style: none;
}